
<%content_for :js do%>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      	language: 'en',
		pickSeconds: false         // disables seconds in the time picker
    });

	<% if !@tournament.date.blank? %>

	var picker = $('#datetimepicker1').data('datetimepicker');
    picker.setDate(new Date(Date.UTC(<%="#{@tournament.date.year},#{@tournament.date.month-1},#{@tournament.date.day},#{@tournament.date.hour},#{@tournament.date.min}"%>)));
	
	<% end %>

  });
</script>

<%end%>


<%= form_for @tournament, :html => { :class => 'form-horizontal' } do |f| %>
<% if @tournament.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this lesson from being saved:</h2>

    <ul>
    <% @tournament.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
   <%= f.label :date, :class => 'control-label' %>
 	<div class="controls">
  <div id="datetimepicker1" class="input-append date">
	<%= f.text_field :date, "data-format"=>"dd/MM/yyyy hh:mm", :class=>'date-time-input text_field' %>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
  </div>
</div>


<div class="control-group">
 <%= f.label :player_id, :class => 'control-label' %>

   <div class="controls">
		<%=f.select :player_id, options_for_select(@players.collect{|c| ["#{c.first_name} #{c.last_name}", c.id]}, @tournament.player_id), :prompt=>"Choose Player" %>	
  </div>
</div>

  <div class="control-group">
    <%= f.label :result, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :result, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :notes, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tournaments_path, :class => 'btn' %>
  </div>
<% end %>
